In [0]:
# manual creation of dataframes

In [0]:
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, StringType, StructField, StructType

In [0]:
# without strict schema

row_data = [
    (10,'Sumanth',20000,'Bangalore'),
    (11,'Diwakar',10000,'Chennai'),
    (12,'Kumar',33000,'Hyderabad'),
    (13,'Reddy',40000,'Mysore')
]

columns = ['id','name','salary','city']

emp_df = spark.createDataFrame(data=row_data,schema=columns)
display(emp_df)

In [0]:
emp_df.show()

In [0]:
# with strict schema

row_data1 = [
    (10,'Sumanth',20000,'Bangalore'),
    (11,'Diwakar',10000,'Chennai'),
    (12,'Kumar',33000,'Hyderabad'),
    (13,'Reddy',40000,'Mysore')
]

columns = StructField
[
        StructField('id',IntegerType(),True),
        StructField('name',StringType(),True),
        StructField('salary',IntegerType(),True),
        StructField('city',StringType(),True)
]

emp_df1 = spark.createDataFrame(data=row_data1,schema=columns)
display(emp_df1)

In [0]:
file_path = "/Volumes/workspace/default/kaggle_datasets/Latest 2025 movies Datasets.csv"

Movies_df = spark.read.format("csv").load(file_path)
display(Movies_df)

In [0]:
Movies_df = spark.read.format("csv").option("header","true").load(file_path)
display(Movies_df)

In [0]:
Movies_df = spark.read.format("csv").option("header","true").option("inferSchema","true").load(file_path)
display(Movies_df)

In [0]:
#Filter the data frame to get only movies released in
# we need to over ride the data frame with in its own dataframe  ex : movies = movies.filter()
Movies_df= Movies_df.filter(F.col("original_language")=="hi")
display(Movies_df)

In [0]:
# using Select Function
# it will select the columns which are specified in the select function
Movies_df = Movies_df.select(
    F.col("title"),
    F.col("original_language")
)
display(Movies_df)

In [0]:
Movies_df.count()

In [0]:
Movies_df.describe().display()

In [0]:
Movies_df.show()

In [0]:
Movies_df.columns
Movies_df.printSchema()

In [0]:
#spark = F.builder.appName("Movie Data").getOrCreate()
data_set = [
    (1,'RRR','Telugu','2022','Acton',1000),
    (2,'KGF','Kannada','2019','Action',900),
    (3,'Bahubali','Telugu','2015','Action,Drama',800),
    (4,'Vikram','Tamil','2022','Action',700),
    (5,'War2','Telugu','2021','Action',600),
    (6,'Jawan','Hindi','2022','Action',500),
    (7,'Kabali','Tamil','2013','Action',400),
    (8,'Lovely','Telugu','2022','Romance',300),
    (9,'pani','Malayalam','2018','Action',200),
    (10,'KGF2','Kannada','2022','Action',1000),
]
columns = ["id","title","original_language","release_year","genres","budget"]

movie_df = spark.createDataFrame(data=data_set,schema=columns)
display(movie_df)