In [0]:
%sql
--joins

In [0]:
from pyspark.sql import Row

students = spark.createDataFrame([
    Row(id=1, name="Arun Kumar", marks=85, depid=101, city="Chennai"),
    Row(id=2, name="Lakshmi Priya", marks=92, depid=102, city="Bangalore"),
    Row(id=3, name="Venkatesh", marks=78, depid=106, city="Hyderabad"),
    Row(id=4, name="Meera Nair", marks=88, depid=103, city="Kochi"),
    Row(id=5, name="Suresh Reddy", marks=81, depid=104, city="Vijayawada"),
]
)
display(students)

In [0]:
from pyspark.sql import Row

departments = spark.createDataFrame([
    Row(depid=101, depname="Computer Science", depcity="Chennai"),
    Row(depid=102, depname="Electronics", depcity="Bangalore"),
    Row(depid=103, depname="Mechanical", depcity="Kochi"),
    Row(depid=104, depname="Civil", depcity="Hyderabad"),
    Row(depid=105, depname="Electrical", depcity="Trivandrum"),

]
)

display(departments)

In [0]:
# extract student names who's having same depid
df = (
    students
    .join(
        departments,
        on=["depid"],
        how="inner"
    ) 
)
display(df)

In [0]:
df = (
    students
    .join(
        departments,
        on=["depid"],
        how="left"
    )
)
display(df)

In [0]:
# extract city names who's having same depid and count using groupby
df = (
    students
    .join(
        departments,
        on=["depid"],
        how="right"
    )
    .groupby("city")
    .count()
)
display(df)

In [0]:
df = (
    students
    .join(
        departments,
        on =["depid"],
        how = "Right"

    )
)
display(df)

In [0]:
df = (
    students
    .join(
        departments,
        on = ["depid"],
        how = "leftanti"
    )
)
display(df)

In [0]:
df = (
    students
    .join(
        departments,
        on = ["depid"],
        how = "leftsemi"
)
)
display(df)